body {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background-color: rgb(68,68,68);
  font-size: 16px;
}

header {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
  background-color: rgb(32,32,32);
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 1em;
  margin-top: 1.5em;
  color: rgb(240, 255, 180);
}

p.small {
  font-size: 0.75em;
}

footer {
  color: rgb(128, 128, 128);
  text-align: center;
  background-color: rgb(32,32,32);
  padding: 0.5em 0;
}

footer p{
  margin: 0;
  padding: 0;
}

footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active
{
  color: rgb(140, 140, 140);
  text-decoration: underline;
}

#sketch-holder {
  position: relative;
  width: 648px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  /*grid-gap: 10px;*/
  color: rgb(68,68,68);
}
.box {
  background-color: rgb(68,68,68);
  color: rgb(255,255,255);
  padding: 20px;
}

.box:nth-of-type(2) {
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

#canvas-holder {
  min-width: 600px;
}

#pattern-selector {
  background-color: rgb(0, 0, 0);
  padding: 0.25em 0.5em;
  margin: 0.25em 0;
}

#pattern-selector label {
  display: inline-block;
  width: 7em;
}

table tr td:nth-of-type(1) {
  width: 7em;
}

button {
  background-color: #4CAF50;
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.pattern-control {
  background-color: rgb(32, 32, 32);
  padding: 0.25em 0.5em;
  margin: 0.25em 0;
}

.pattern-control label {
  display: inline-block;
  width: 7em;
}
.pattern-control input[type="range"] {
  width: 20em;
}

.pattern-control input[type="text"] {
  width: 40em;
}